$prefix: '.c-skeleton__tb';

#{$prefix} {
  //background: #99a9bf;
  width: 0;
  height: 0;
  background: #dcdcdc;
  &--radius {
    border-radius: 4px;
  }

  &--circle {
    border-radius: 50%;
  }
  &--opacity {
    opacity: 1;
    animation: opacity 2s linear infinite normal
  }
  &--gradient {
    background: linear-gradient(to right, rgba(220, 220, 220, .4) 13%, rgba(220, 220, 220, 1) 14%);
    animation: gradient 1s linear infinite normal;
    background-size: 200% 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 0
  }
  100% {
    background-position: -100% 0
  }
}

@keyframes opacity {
  0% {
    opacity: .95;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }

}


